.header {
  display: flex;
}

.spacer {
  flex: 1 1 auto;
}

.bg {
    border: 1px solid #999;
    padding: 20px;
    margin: 50px;
    border-radius: 5px;
    width: 800px;
  }

.code {
    white-space: pre;
    font-family: monospace
  }